altgraph==0.17
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
Eel==0.14.0
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
idna==2.10
pefile==2019.4.18
pycparser==2.20
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pyparsing==2.4.7
pywin32-ctypes==0.2.0
requests==2.25.1
urllib3==1.26.4
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.3.0
